*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

.idea/

/backend/build
/motivationquotes-android/build
/motivationquotes-lib/build
/ricardo-lib/build
