<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.ricardobarbosa.wheresmymoney">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MovimentacaoListActivity"
            android:label="@string/title_movimentacao_list"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.github.ricardobarbosa.motivationquotes.QuoteActivity"
            android:label="Quote"
            android:parentActivityName=".activity.MovimentacaoListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.ricardobarbosa.wheresmymoney.activity.MovimentacaoListActivity" />
        </activity>
        <activity
            android:name=".activity.MovimentacaoDetailActivity"
            android:label="@string/title_movimentacao_detail"
            android:parentActivityName=".activity.MovimentacaoListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.ricardobarbosa.wheresmymoney.activity.MovimentacaoListActivity" />
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.LoginActivity2"
            android:label="@string/title_activity_login2" />

        <provider
            android:name=".data.WhereIsMyMoneyDataProvider"
            android:authorities="com.github.ricardosbarbosa.whereismymoney.app" />

        <activity
            android:name=".activity.ContaListActivity"
            android:label="@string/title_conta_list"
            android:parentActivityName=".activity.MovimentacaoListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.ricardobarbosa.wheresmymoney.activity.MovimentacaoListActivity" />
        </activity>
        <activity
            android:name=".activity.ContaDetailActivity"
            android:label="@string/title_conta_detail"
            android:parentActivityName=".activity.ContaListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.ricardobarbosa.wheresmymoney.activity.ContaListActivity" />
        </activity>
        <activity
            android:name=".activity.CategoriaListActivity"
            android:label="@string/title_categoria_list"
            android:parentActivityName=".activity.MovimentacaoListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.ricardobarbosa.wheresmymoney.activity.MovimentacaoListActivity" />
        </activity>
        <activity
            android:name=".activity.CategoriaDetailActivity"
            android:label="@string/title_categoria_detail"
            android:parentActivityName=".activity.CategoriaListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.ricardobarbosa.wheresmymoney.activity.CategoriaListActivity" />
        </activity>

        <activity android:name=".activity.ContaFormActivity"
            android:label="Movimentacao"
            android:parentActivityName=".activity.ContaListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.ricardobarbosa.wheresmymoney.activity.ContaListActivity" />
        </activity>

        <activity android:name=".activity.CategoriaFormActivity"
            android:label="Movimentacao"
            android:parentActivityName=".activity.CategoriaListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.ricardobarbosa.wheresmymoney.activity.CategoriaListActivity" />
        </activity>

        <activity
            android:name=".activity.MovimentacaoFormActivity"
            android:label="@string/title_movimentacao_detail"
            android:parentActivityName=".activity.MovimentacaoListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.ricardobarbosa.wheresmymoney.activity.MovimentacaoListActivity" />
        </activity>

        <receiver android:name=".widget.ContasWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/contas_widget_info" />
        </receiver>

        <activity android:name=".widget.ContasWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
    </application>

</manifest>